DATABASE_URL=postgresql://neondb_owner:npg_R9Oxs4kBTUFf@ep-noisy-forest-advbqrbb-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=68998df57be7ea2ee83e4ff72b6ddbdc9c85413ac44463f4df6e54262ef5b2db
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRES_MINUTES=480
BCRYPT_ROUNDS=12
